.signupMain{
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 4fr 1fr;
    
    grid-template-areas: 
    'signup login'
    'signup login'
    'signup login';
}
/*Log in button and logo*/
.signupRight{
    height: 100%;
    width: 100%;
    grid-area: login; 

    /*content alignment*/
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    /*color*/
    background-color: #0c0c0c;
}
.loginBtn{
    display: flex;
    align-items: center;
    position: relative;

    font-size: 28px;
}
.logoIcon{
    position: absolute;
    display: inline-block;
    transform: rotate(46deg);
    top: -6px;
    left: 75px;
}
.loginBtn:hover{

}
.logenElement:hover{
    color: #E84545;   
}
/*Signup button*/
.signupLeft{
    height: 100%;
    width: 100%;

    grid-area: signup;
    align-self: center;
    justify-self: center;
    background-color: #0c0c0c;

    /*content alignment*/
    display: flex;
    justify-content: end;
    align-items: center;
}
.signupBtn{
    padding: 10px;
}
.signupBtn:hover{
  color: #E84545;
}



