.main{
    display: flex;
    flex-direction: column;
    justify-items: center ;
    gap: 40px;
}
.userSettings{
    display: flex;
    background-color: #090909;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px ; 
    gap: 40px;
}
.userOptions{
    padding: 20px;
}
.modTools{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 8fr;
}
.modBanner{
    display: flex;
    align-items: center;
    background-color: #ca3131;
    border-radius: 20px 20px 0px 0px;
}
.modOptions{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.modOptions > div {
    flex: 1;
    padding: 12px;
    text-align: center;
    cursor: pointer;
}
.activeOption{
    color: #ca3131;
    background-color: #aeaeae;

}
.activeOptionContainer{
    color: #ca3131;
    background-color: #aeaeae;
    border-radius: 0px 0px 20px 20px;
}
.inactiveOption{
    background-color: #020202;
}
.memberCard{
    display: flex;
    justify-content: space-between;

}
.reqCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.connections{}