.chatInterface{
    /*layout*/
    position: relative;
    display: flex;
    width: 550px;
    height: 50px;
    justify-self: center;
    margin-bottom: 20px;
}
.textWrapper{
    /*layout*/
    display: flex;
    align-items: flex-end;
    flex: 9;    
}
.replyIndecator{
    font-size: 12px;
    position: absolute;
    top: -10px;
    display: flex;
    justify-content:start;
    background-color: #E84545;
    border-radius:12px;
    padding: 2px;
    width: 100%;
}
.msgTxtArea{
    border-radius: 0px;
    width: 100%;
    resize: horizontal;
    overflow-y: auto;
    max-height: 200px;
    align-self: center;
}
.msgButton{
    /*color*/
    background-color: #151515;

    /*layout*/
    height: 40px;
    align-self: center;
    justify-items: center;
    flex: 1;

}
.rightBtn{
    border-radius: 50px 0px 0px 50px;
    
}
.leftBtn{
    border-radius: 0px 50px 50px 0px;   
}
.msgButton:hover{
    background-color: #0c0c0c;
    fill:#E84545;
    outline: 1px solid #E84545;
    outline-offset: -1px;
}
@media (max-width: 840px){
    .chatInterface{
        align-self: center;
        width: 95%;
    }
}


