.appContainer{
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 18fr auto;
    grid-template-rows: 1fr;
    grid-template-areas:
    'sideNav main members';
    /*colors*/
    background-color: #0c0c0c;
}
.appContainerProfile{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 19fr;
    grid-template-rows: auto;
    grid-template-areas:
    'sideNav main';
    /*colors*/
    background-color: #0c0c0c;
}
.createGroupDialog{
    position: absolute;
    justify-items: center;
    display: flex;
    top: 0px;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    z-index: 1000;
}