.loginForm{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;

    color: rgb(111, 110, 110);
}
.signupForm{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;

    color: rgb(111, 110, 110);    
}
.newGroup{
    align-self: center;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.groupForm{
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 10px;
}
.photoUpload{
    align-self: center;
    justify-self: center;
    min-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.msgUpload{
    align-self: center;
    justify-self: center;
    min-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(33, 33, 33);
}
.invalidField{
    border: 1px solid red;
} 
.validField{
    border: 1px solid green;
}